nav{

    background: #1f2235;
    width: max-content;
    display: table-row;
    padding: 2rem 1rem;
    z-index: 1;
    transform: rotateZ(50%);
    transform: translateX(50%);
    bottom:  30%;
    display: flexbox;
    gap: 1.8rem;
    border-radius: 30rem;
    backdrop-filter: blur(5px);
    position: fixed;    
   

}

nav a {

    background: transparent;
    padding: 0.9rem;
    border-radius: 30rem;
    display: flex;
    color: white;
    font-size: 1.1rem;
}

nav a:hover{

    background: rgba(0, 0, 0, 0.3);


}


nav a.active {

    background: #0a0b0e;
    color: #f9a825;
}


