.container{
  display: grid;
  grid-template-columns: 0.5fr repeat(2, 3fr) 0.5fr 0fr;
  grid-template-rows: 1fr 8fr 1fr repeat(2, 0fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}

.Title{
grid-area: 1 / 2 / 2 / 4;
text-align:center;
}


.Card{
grid-area : 2 / 2 / 3 / 4 ;
 
}



.Card img{
  text-align: center;
  height: 15%;
  width: 15%;
}